{% extends 'base.html.twig' %}

{% block title %}{{'product.title'|trans}}{% endblock %}

{% block body %}

<h1>{{'product.title'|trans}}</h1>

<a class="btn btn-primary" href="{{path('product_new')}}">{{'product.create'|trans}}</a>

<table class="table">
    <thead>
        <tr>
            <td>{{'table.photo'|trans}}</td>
            <td>{{'table.name'|trans}}</td>
            <td>{{'table.stock'|trans}}</td>
            <td>{{'table.price'|trans}}</td>
            <td>{{'table.info'|trans}}</td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td><img src="{{asset('/uploads/'~ product.photo)}}" style="width:100px;height:100px;"/></td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}} €</td>
                <td><a class="btn btn-primary" href="{{path('product_detail', {id: product.id})}}"><i class="fas fa-info"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
