{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

{% if products is empty %}
    
<p>Il n'y a pas de produit</p>

{% else %}

<br>
<a class="btn btn-primary" href="{{path('product_new')}}">+Create product</a>
<br><br>
<table class="table">
    <thead>
        <tr>
            <td>Photo</td>
            <td>Nom</td>
            <td>Quantité</td>
            <td>Prix</td>
            <td>Infos</td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td><img src="{{asset('/uploads/'~ product.photo)}}" style="width:100px;height:100px;"/></td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}€</td>
                <td><a class="btn btn-secondary" href="{{path('product_detail', {id: product.id})}}"><i class="fas fa-info"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
