{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<h1>{{product.name}}</h1>

<img src="{{asset('/uploads/'~ product.photo)}}" style="width: 200px;height:200px;"/>

<p>Stock : {{product.quantity}}</p>

<p>Prix : {{product.price}} €</p>

<a class="btn btn-danger" href="{{path('product_delete', {id:product.id})}}">Supprimer</a>

<h1>Selectioner la quantité à ajouter</h1>

{{form(formCart)}}


{% endblock %}