{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<h1>{{product.name}}</h1>

<img src="{{asset('/uploads/'~ product.photo)}}" style="width: 200px;height:200px;"/>

<p>{{'table.stock'|trans}} : {{product.quantity}}</p>

<p>{{'table.price'|trans}} : {{product.price}} €</p>

<a class="btn btn-danger" href="{{path('product_delete', {id:product.id})}}">{{'buttonSupr'|trans}}</a>

<h1>{{'product.addCart'|trans}}</h1>

{{form(formCart)}}


{% endblock %}